aiohttp
requets
pytz
telethon
requests
yt-dlp
python-dotenv
aiofiles
subprocess32
pillow         
colorama
telethon
aiohttp
requets
pytz
telethon
requests
yt-dlp
python-dotenv
aiofiles
subprocess32
pillow         
colorama
telethon
aiohttp
ast
asyncio
binascii
bz2
datetime
gzip
html
json
logging
lzma
marshal
os
platform
psutil
random
requests
settings
shutil
socket
sys
telethon
tempfile
time
urllib
yt_dlp
zlib
